#h1{font-family:Arial;font-size=150%font-weight=bolder;font-style:Italic;font-stretch:Normal;color:Purple;}
p{font-family:Cambria;font-size=80%;font-weight:Normal;font-style:italic;font-stretch:Normal;color:Pink;}
